<div class="row">
  <div class="col-xs-12 col-sm-3">
    <span>Lodging</span>
    <span>{{lodging.name}}</span>
  </div>
  <div class="col-xs-12 col-sm-5">
    <span>Reserved For</span>
    <span>{{millis-to-date reservation.startDate}} - {{millis-to-date reservation.endDate}}</span>
  </div>
  <div class="col-xs-12 col-sm-4">
    <span>Max number of Guests</span>
    <span>{{reservation.room.numberOfRooms}}</span>
  </div>
</div>
