<div class="admin-form">
  <h1 class="admin-from-title">Delete {{model.lodging.name}} ?</h1>
  <button class="areaInfo-add-button" {{action 'deleteLodging' model.lodging.id}}>Yes</button>
  <button class="areaInfo-add-button" {{action 'cancel'}}>No</button>
</div>
